@font-face {
    font-family:futura;
    src: url(./font2.ttf);
}

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

html,body{
    height:100%;
    width:100%;
}

body{
    background: color #f7f7f7;
}

#nav-part1{
    height:82px;
    /* background-color: red; */
    overflow: hidden;
}


#nav-part1 svg{
    display:block;

}

#nav{
    /* height: 100px; */
    width:100%;
    /* background-color: burlywood; */
    position:fixed;
    z-index:99;
    padding:20px;
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
}

#nav-part2{
    display: flex;
    align-items:center;
    justify-content: center;
    gap:40px;
}

#links{
    padding:10px;
}

#nav-part2 #links a{
    text-transform:uppercase;
    text-decoration: none;
    color:#333;
    font-weight: 400;
    font-size:14px;
    margin:0 20px ;

}

#icons{
    padding:10px;
    border-radius:50px;
    font-weight:100;
    background-color:#f7f7f7;
}

#nav-part2 #icons i{
    font-size:18px;
    margin:0 20px ;
    font-weight:100;
}

#cursor {
    height: 180px;
    width: 180px;
    background-color: rgba(224, 139, 189, 0.814);
    border-radius: 50%;
    position: fixed;
    transform: translate(-50%, -50%) scale(0);
    z-index: 2;

}


*::selection{
    color:white;
    background-color:black;
}

#page1{
    min-height: 100vh;  
    position: relative;
    width:100%;
    padding:0 1vw;
    padding-top:20vh;
    
}


#page1 h1{
    font-size:15.8vw;
    font-family: futura;
    text-transform: uppercase;
    line-height:14vw;
    letter-spacing: -8px;

}

#video-container{
    height: 100vh;
    width:100%;
    background-color:grey;
    margin-top:1vw;
    position:relative;
}

#video-container #play{
    padding:3vw 2.3vw;
    background-color: black;
    color:#fff;
    font-size:1.3vw;
    position:fixed;
    font-family: futura;
    border-radius:50%;
    opacity:0;
    scale:0;

}


#page2{
    min-height:100vh;
    width:100%;
    position:relative;
    display:flex;
    padding:3vw 1vw;
    justify-content:space-between;
    align-items:center;
}

#page2 .elem{
    height:100%;
    width:31%;
    /* background-color:red; */
    overflow:hidden;
    position: relative;
    display:flex;
    align-items:center;
    justify-content:center;
}

#page2 .elem img{
    height: 100%;
    width:100%;
    object-fit: cover;
    scale:1.1;
    
}

#page2 .elem .dets{
    height:60px;
    width:70%;
    position:absolute;
    z-index:9;
    background-color: rgb(229,156,186);
    border-radius:50px;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
}




#page2 .elem .dets:hover{
    height: 200px;
    cursor: pointer;
}





#page3{
    min-height:120vh;
    width:100%;
    position: relative;
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content:space-evenly;
    background-color: #f7f7f7;

}

.child{
    height: 54vh;
    width:38vw;
    /* background-color:red; */
    position: relative;
    display:flex;
    align-items: center;
    justify-content: center;
}

.child img{
    height:100%;

}

#page4{
    min-height:120vh;
    width:100%;
    position: relative;
    background-color: #f7f7f7;
    border-top: 2px solid black;
    margin-top:15rem;
    margin-bottom: 25rem;
}

#slider{
    display: flex;
    align-items: center;
    justify-content: space-around;
}



#page4 .btn-slider{
    margin-top: 4rem;
    height:20px;
    width:20px;
    border-radius:50%;
    outline: none;
    border:2px solid black;
    
}
#page4 .btn .btn-slider:hover{
    cursor:pointer;
}

.act{
    background-color: #000;
}


#msg{
    min-height: 90vh;
}

#msg h1{
    font-family: futura;
    text-align: center;
    margin: 50px 200px;
    font-size:60px;
}
#msg-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

#msg-btn button{
    font-family: futura;
    width:20%;
    background-color:#000 ;
    color:#f7f7f7;
    font-size: 1rem;
    border-radius:30px;
    padding:20px;
    margin-top: 40px;
    margin-bottom:10px;
}

#msg-btn button:hover{
    cursor: pointer;
    color:#CCC;
}

#msg-btn p{
    font-family:sans-serif;
    font-weight: 100;
    margin-bottom:100px;
}

#page5{
    height:100vh;
    width:100%;
    padding:40px;
    background-color: #f7f7f7;
    display: flex;

}

#right-img{
    display: flex;
    justify-content:space-between;
    align-items:center;

}
#right-img img{
    width:25vw;
    margin:10px;
}



#page5 #text h2{
    font-size:4rem;
    margin-top: 40px;
    font-family: futura;
}

#page5 #text p{
    margin-top: 40px;
    width:80%;
}
#page5 #text #last-one{
    transition: all linear 0.5;
    font-weight: 800;
}

#page5 #text #last-one:hover{
    cursor: pointer;
    text-decoration: underline;

}






@media (max-width:600px){


    #nav-part1{
        height:67px;
        /* background-color: red; */
        overflow: hidden;
    }
    
    
    #nav-part1 svg{
        display:block;
        height: 67px;
        width: 80px;
    }

    #nav #twogoodlogo{
        height: 40px;
        margin-left: -20px;
    }
    
    #nav{
        /* height: 100px; */
        width:100%;
        /* background-color: burlywood; */
        position:fixed;
        z-index:99;
        padding:15px;
        display: flex;
        align-items:flex-start;
        justify-content: space-between;
    }
    
    #nav-part2{
        display: flex;
        align-items:center;
        justify-content: center;
        gap:40px;
    }
    
    #links{
        padding:7px;
        display: none;
    }
    
    #nav-part2 #links a{
        text-transform:uppercase;
        text-decoration: none;
        color:#333;
        font-weight: 400;
        font-size:14px;
        margin:0 20px ;
    
    }
    
    #icons{
        padding:10px;
        border-radius:50px;
        font-weight:100;
        background-color:#f7f7f7;
    }
    
    #nav-part2 #icons i{
        font-size:18px;
        margin:0 20px ;
        font-weight:100;
    }

    #page1{
        min-height: 70vh; 
        width:100%;
        padding:0 3vw;
        padding-top:25vh;
        
    }

    #page1 h1{
        font-size:15.5vw;
        line-height:14vw;
        letter-spacing:-3px;  
    }

    
#video-container{
    height: 25vh;
    margin-top:3vw;
}

#video-container #play{
    padding:9.5vw 7.2vw;
    font-size:4.5vw;
    position:absolute;
    top: 50%;
    left:50%;
    opacity:1;
    scale:1;
    transform:translate(-50%,-50%);

}

#page2{
    min-height:100vh;
    width:100%;
    position:relative;
    display:flex;
    padding:5vw 3vw;
    justify-content:space-between;
    align-items:center;
    flex-direction: column;
}

#page2 .elem{
    height:100vh;
    width:100%;
    /* background-color:red; */
    overflow:hidden;
    margin-bottom:3vw;
}

#page2 .elem img{
    height: 100%;
    width:100%;
    object-fit: cover;
    scale:1.1;
}

#page2 .elem .dets{
    height:40px;
    width:70%;
    position:absolute;
    z-index:9;
    background-color: rgb(229,156,186);
    border-radius:50px;
}
#page3{
    min-height:120vh;
    width:100%;
    position: relative;
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content:space-evenly;
    background-color: #f7f7f7;
}

.child{
    height: 54vh;
    width:88vw;
    /* background-color:red; */
    position: relative;
    padding:15vw;
    display:flex;
    align-items: center;
    justify-content: center;
}

.child img{
    height:100%;

}
}